$primary: #198cff;
$danger: #df4545;
$warning: #ed6a0c;
$defalut: palevioletred;
$stroke-0: #fff;
$stroke-1: #f7f8fa;
$stroke-2: #f2f3f5;
$stroke-3: #ebedf0;
$stroke-4: #dcdee0;
$stroke-5: #c8c9cc;
$stroke-6: #969799;
$stroke-7: #7d7e80;
$stroke-8: #323233;
$black: #000;